    <header id="pageHeader">
			<div class="secHeader">
        <div class="bannerWrap">
          <amp-img src="images/{{file.page.imagePrefix}}-465_project.png" alt="{{file.page.imageAlt}}"
            srcset="images/{{file.page.imagePrefix}}-465_project.png 1024w, images/{{file.page.imagePrefix}}-354_project.png 768w, images/{{file.page.imagePrefix}}-240_project.png 320w"
            width="100"
            height="100"
            layout="responsive"
            class="banner"></amp-img>
        </div>
        <h3 class="dropout rightEdge pad">{{file.page.title}}</h3>
        <h6 class="rightEdge pad">{{file.page.subtitle}}</h6>
			</div>
    </header>
